@import "../../../assets/style";
.modal-header {
  background-color: $dark-background;
  border-color: $dark-border;
  border-radius: 0;
}
.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

#addingModal {
  .custom-file {
    &-label {
      &::after {
        content: 'Просмотр';
      }
    }
  }
  img {
    width: 100%;
    display: block;
    margin-top: 2px;
  }
}
