@import "../../assets/style";

.blog {

  &_index {
    padding: 1px 0;
    background-color: #ececec;
    .blog_item {
      border-bottom: 1px solid #d1d1d1;
      padding: 40px 0;
      .row {
        display: flex;
        justify-content: space-between;
        .col {
          &_left {
            flex: 0 0 auto;
            width: 47%;
            img {
              width: 100%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  &_show {
    .cover {
      height: 80vh;
      width: 100%;
      background-size: cover;
      background-color: #000;
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      vertical-align: middle;
      position: relative;
      background-attachment: fixed;
      overflow: hidden;
      img {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      &__carrier {
        height: 80vh;
        width: 100%;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        vertical-align: middle;
        position: relative;
        background-attachment: fixed;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: unset;
        &.loaded {
          opacity: 1;
          transition: opacity 700ms;
        }

      }
      &__filter {
        height: 80vh;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
        background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
        background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000', endColorstr='#7f000000');
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .container {
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        vertical-align: middle;
        padding-top: 42px;
        padding-bottom: 42px;
        h1 {
          font-family: 'Roboto',Arial,sans-serif;
          font-weight: 600;
          color: #fff;
          padding: 24px 0 38px 0;
          letter-spacing: .5px;
          font-size: 72px;
          line-height: 1.17;
        }
        span {
          font-family: 'Roboto',Arial,sans-serif;
          font-weight: 300;
          max-width: 700px;
          margin: 0 auto;
          color: #fff;
          padding: 0 0 30px 0;
          font-size: 24px;
          line-height: 1.5;
        }
      }
    }
    .content {
      padding-top: 75px;
      padding-bottom: 60px;
    }
  }

}
