$yellow: #fac913;
$red: #9d0c06;
$black: black;
$white: white;

$dark-border: #454d55;
$dark-background: #343a40;

.colour-yellow {
  color: $yellow;
}
.yellow-background {
  background-color: $yellow;
}
.colour-red {
  color: red;
}
.colour-black {
  color: $black;
}
.colour-white {
  color: $white;
}
