.signin {
  background: url("background.png");
  height: 100%;
  width: 100%;
  position: fixed;
}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top:10%;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: white;
  border: 0;
  background-color: #525252
}
.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: 0 0 8px #fac913;
}
.form-signin input[type="email"] {
  border-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: white!important;
  border: 0!important;
  background-color: #525252!important;
}
