.navbar {
  border-bottom: 2px solid #1e1e1e;
  background-color: #303030;
  height: 100px;
  padding-bottom: 0;
}
.navbar-nav li:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu {
  border: 1px solid #707070;
  background: rgba(48,48,48,0.95);
  padding: 10px 0;
  border-radius: 0;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-menu .dropdown-item:hover {
  background: none;
  color: #fac913!important;
}
.img-fluid {
  top: -5px;
  z-index: 1000;
}
